<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="D:\projects\snowfall\templates\css\style.css" >

    <link rel="stylesheet" href="D:\projects\snowfall\templates\bootstrap\css\bootstrap.css" >
    <script src="D:\projects\snowfall\templates\bootstrap\js\bootstrap.js" ></script>
    <!--<link rel="stylesheet" href="/templates/bootstrap/css/bootstrap.css" >-->
    <!--<script src="/templates/bootstrap/js/bootstrap.js" ></script>-->
</head>
<body>

    <div class="well from-registration">
        <h3>Форма регистрации</h3>
        <div class="input-group input-group-sm">
            <span class="input-group-addon from-registration-label">Имя</span>
            <input type="text" class="form-control form-registration-input" placeholder="Имя" aria-describedby="sizing-addon3" >
        </div>
        <hr>
        <div class="input-group input-group-sm">
            <span class="input-group-addon from-registration-label">Фамилия</span>
            <input type="text" class="form-control form-registration-input" placeholder="Фамилия" aria-describedby="sizing-addon3" >
        </div>
        <hr>
        <div class="input-group input-group-sm">
            <span class="input-group-addon from-registration-label" >Отчество</span>
            <input type="text" class="form-control form-registration-input" placeholder="Отчество" aria-describedby="sizing-addon3" >
        </div>
        <hr>
        <a class="btn btn-primary btn-lg request-button" href="#" role="button">Подать заявку</a>
    </div>
</body>
</html>