<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="D:\projects\snowfall\templates\css\style.css" >

    <link rel="stylesheet" href="D:\projects\snowfall\templates\bootstrap\css\bootstrap.css" >
    <script src="D:\projects\snowfall\templates\bootstrap\js\bootstrap.js" ></script>
    <!--<link rel="stylesheet" href="/templates/bootstrap/css/bootstrap.css" >-->
    <!--<script src="/templates/bootstrap/js/bootstrap.js" ></script>-->
</head>
<body>

<div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Регистрации</div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Фамилия
                    </th>
                    <th>
                        Имя
                    </th>
                    <th>
                        Отчество
                    </th>
                    <th>
                        Серия/номер паспорта
                    </th>
                    <th>
                        Дата выдачи паспорта
                    </th>
                    <th>
                        Номер зачетной книжки
                    </th>
                    <th>
                        Дата получения зачетной книжки
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Иванов
                    </td>
                    <td>
                        Иван
                    </td>
                    <td>
                        Иванович
                    </td>
                    <td>
                        ЕН8332123
                    </td>
                    <td>
                        21 июня 2005г.
                    </td>
                    <td>
                        3232
                    </td>
                    <td>
                        31 января 2012г.
                    </td>
                    <td>
                        <a class="btn btn-primary" href="#" role="button">Подтвердить</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="#" role="button">Отклонить</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Иванов
                    </td>
                    <td>
                        Иван
                    </td>
                    <td>
                        Иванович
                    </td>
                    <td>
                        ЕН8332123
                    </td>
                    <td>
                        21 июня 2005г.
                    </td>
                    <td>
                        3232
                    </td>
                    <td>
                        31 января 2012г.
                    </td>
                    <td>
                        <a class="btn btn-primary" href="#" role="button">Подтвердить</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="#" role="button">Отклонить</a>
                    </td>
                </tr>
                </tr>
                <tr>
                    <td>
                        Иванов
                    </td>
                    <td>
                        Иван
                    </td>
                    <td>
                        Иванович
                    </td>
                    <td>
                        ЕН8332123
                    </td>
                    <td>
                        21 июня 2005г.
                    </td>
                    <td>
                        3232
                    </td>
                    <td>
                        31 января 2012г.
                    </td>
                    <td>
                        <a class="btn btn-primary" href="#" role="button">Подтвердить</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="#" role="button">Отклонить</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>